/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-width: 375px;
  background-color: var(--bg-color, #000028);
  background-repeat: no-repeat;
  background-image: var(--bg-cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding-inline: 10px;
  padding-block: 10px;
  margin-block-end: 40px;
}

@media (width >= 768px) {
  .header {
    padding-inline-start: 0;
  }
}

@media (width >=1024px) {
  .header {
    padding-inline-end: 2vw;
    padding-block-start: 2.2vh;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-block-start: 1px solid var(--decoration-color, #FF0070);
  border-inline-end: 1px solid var(--decoration-color, #FF0070);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--decoration-color, #FF0070);
  border-left: 1px solid var(--decoration-color, #FF0070);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-block-end: 1vh;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__rec {
  position: absolute;
  color: var(--bg-accent-color, #FF0070);
  display: inline-block;
  text-transform: uppercase;
  font-family: var(--main-font, monospace);
  font-size: 18px;
  line-height: 25px;
  right: 20px;
  top: 10px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--bg-accent-color, #FF0070);
  background-color: var(--bg-accent-color, #FF0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--main-font, monospace);
  color: var(--text-color);
  font-weight: 700;
  line-height: 95.7%;
  margin-block-end: 55px;
}

.title-decor {
  font-family: var(--main-font, monospace);
  background-color: var(--bg-accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  align-self: start;
  color: var(--text-two-color);
}

.header__theme-menu-item 

.header__theme-menu-button {
  font-family: var(--main-font, monospace);
  font-size: 18px;
  color: var(--button-color);
  text-transform: lowercase;
  display: block;
  border: 1px solid transparent;
  background-color: transparent;
}
.header__theme-menu-button_active {
  pointer-events: none;
}
.header__theme-menu-button_type_auto
.footer {
  block-size: 100vh;
  min-block-size: 668px;
}